* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(15, 17, 1, 0.973);
    display: flex;
    justify-content: center;
    align-items: center;
}
.full {
    width: 80%;
    max-width: 2000px;
    min-height: 200px;
    background-color: rgb(155, 189, 166);
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.left {
    position: initial;
    background-color: rgb(193, 225, 230);
    padding: 20px;
 
}
.right {
    position: initial;
    background-color: rgb(218, 213, 241);
    padding: 20px;
    text-decoration: solid;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    
 
}
.image, .Contact, .Skills, .Language, .Hobbies, .title, 
.Summary, .Experience, .Education, .project ,.achievement {
    margin-bottom: 30px;
}
.h2 {
    background-color: rgb(168, 218, 247);
}