li{ display: inline-block;
    margin: 0 20px;
    font-size: x-large;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: row;
    color: #346ec7;
    background-color: beige;
}
body{background-color: black;
    }
header{color: aliceblue;
       text-align: center;
       box-sizing: content-box;
       padding: 20px;
       margin:10px;
       font-size: medium;
       border-inline-color: yellow;
       padding: 20px,5px;
       background-color: rgb(220, 233, 147);
       border-inline:5px dotted blue;

}
footer{color: rgb(236, 40, 14);
       text-align: center;
       font-size: 30px;
       }
    
img{border-radius: 60%;
    opacity: 0.5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;}
#para1{color: aliceblue;
       text-align: center;
       font-size: 20px;}